# Lists

data structure is a collection of data elements such as numbers of characters or even other data structures that is structured in some way.The most basic data structure in python is "sequence"

->List is one of the most sequence data structure. 
->Lists are collection of items(strings,integers or even other lists).
->Lists are mutable, which means they can be changed.

# List Creation

In [50]:
lst1 = [1,2,3,4]  #list of integers
lst2 = ['one','two','three','four']  #list of strings
lst3 = [[1,2,3,4],['one','two','three','four']]  #list of lists
lst4 = [1,'two',3.24,['four']]
lst5 = [1,[2,3],(4,5)]
print(lst3,lst4)
print(lst5)
print(type(lst))

[[1, 2, 3, 4], ['one', 'two', 'three', 'four']] [1, 'two', 3.24, ['four']]
[1, [2, 3], (4, 5)]
<class 'list'>

# List append

In [7]:
lst = [1,2,3,4]
lst.append(6)
print(lst)

[1, 2, 3, 4, 6]

# list insert

In [8]:
#syntax : lst.insert(index,value)
lst.insert(4,5)
print(lst)

[1, 2, 3, 4, 5, 6]

# list remove

In [10]:
#syntax : lst.remove(value)
lst = [1,2,3,4,2]
lst.remove(2)  # it will remove the first occurence of the given value in a given list
print(lst)

[1, 3, 4, 2]

# list append and Extend

In [11]:
lst = [1,2,3,4]
lst2 = [5,6,7,8]
#append
lst.append(lst2)
print(lst)

[1, 2, 3, 4, [5, 6, 7, 8]]

In [12]:
lst = [1,2,3,4]
lst2 = [5,6,7,8]
#extend
lst.extend(lst2)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

# list Delete

In [15]:
# del to remove items based on index Position
lst = [1,2,3,4,5]
del lst[1]
print(lst)

[1, 3, 4, 5]

In [16]:
#or we can use pop() method 

a = lst.pop(1)
print(a)
print(lst)

3
[1, 4, 5]

# List related keywords

In [18]:
#keyword "in" is used to test if an item is in a list
lst = [1,2,3,4,5]

if 2 in lst:
    print("present")

present

In [19]:
if 6 not in lst:
    print("not present")

not present

# list sorting

sorted(list) is used to sort list

it takes list and returns a new list with sorted values

the original list is not changed or affected

reverse is optional argument used to sort the list in backwards (eg. sorted(list,reverse = True))

In [26]:
numbers = [3,8,4,9,2,5,7,6,1]
print("Sorted list :",sorted(numbers))

Sorted list : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
print("original list :",numbers)

original list : [3, 8, 4, 9, 2, 5, 7, 6, 1]

In [28]:
print("Reverse order : " ,sorted(numbers, reverse = True))

Reverse order :  [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
#lst.sort() will sort the list for the original list
lst = [1,5.5,6,4.9,2,3.8]
print("unsorted original list : ",lst)
lst.sort()
print("sorted original list : ",lst)

unsorted original list :  [1, 5.5, 6, 4.9, 2, 3.8]
sorted original list :  [1, 2, 3.8, 4.9, 5.5, 6]

In [30]:
# sort with the elements of different datatypes
lst = [1,'two',3,4.5 ]
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [31]:
print(sorted(lst))

TypeError: '<' not supported between instances of 'str' and 'int'

sorting with different datatypes is not possible

# List having multiple references

In [33]:
lst = [1,23,4,5,6]
a = lst
a.append(6) # original value is also affected/changed
print("lst : ",lst) # original value also affected/changed
print("a : ",a)

lst :  [1, 23, 4, 5, 6, 6]
a :  [1, 23, 4, 5, 6, 6]

# String split to create a list

In [34]:
s = "one,two,three,four,five"
print(s.split(','))

['one', 'two', 'three', 'four', 'five']

In [35]:
s= "this is an detailed example"
print(s.split())

['this', 'is', 'an', 'detailed', 'example']

# List Count

In [37]:
numbers = [1,2,3,4,5,6,1,2,5,8,2,6]

#frequency of 2 in list
print("the number 2 is repeated ",numbers.count(2)," time in this list")

the number 2 is repeated  3  time in this list

# list looping

In [38]:
lst = ['one','two','three','four']
for ele in lst:
    print(ele)

one
two
three
four

# list comprehension

In [40]:
#without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
#using list comprehension

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
#square of even numbers
square = [i**2 for i in range(10) if i%2==0]
print(square)

[0, 4, 16, 36, 64]

In [44]:
#squares of odd numbers
squares = [i**2 for i in range(10) if i%2==1]
print(squares)

[1, 9, 25, 49, 81]

In [45]:
#create a list of tuples like (number,squareofNumber)
square = [(i,i**2) for i in range(10)]
print(square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Nested list comprehensions

In [47]:
#lets suppose we have a matrix
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

# transpose of a matrix without list comprehension
transpose = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)
print(matrix)
print("after transposed : ",transpose)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
after transposed :  [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [48]:
# with list comprehension

transpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [51]:
#get the max and min element of list
lst = [1,2,9,8,3,5,7]
print(max(lst))
print(min(lst))

9
1

In [52]:
#get the sum of elements of list
print(sum(lst))

35