# Tuples

Tuples are similar to list 

the only difference is that the tuples cannot be changed once it is assigned(immutable), where as list can be changed(mutables)

# Tuple Creation

In [1]:
#empty tuple
t = ()
print(t)
#tuple having values
t = (1,2,3)
print(t)
#nested tuple
t = (1,(2,3),4,[5,6])  #a tuple can contain another tuple/list inside a tuple
print(t)

()
(1, 2, 3)
(1, (2, 3), 4, [5, 6])

In [4]:
# only paranthesis is not enough
t = ('mani')
print(t)
print(type(t))

mani
<class 'str'>

In [5]:
t = ('mani',)
print(t)
print(type(t))

('mani',)
<class 'tuple'>

In [10]:
# accessing elements in tuple
t = ('one','two','three','four','five')
print(t[1])
print(t[-1])
print(t[2])

two
five
three

In [18]:
#nested tuple
t = (1,(2,3),4,[5,6])
print(t[1])
print(t[1][0],t[1][1])
print(t[3][1])

(2, 3)
2 3
6

In [21]:
#slicing
t = (1,2,3,4,5,6)
print(t[1:5])
print(t[:-1])
print(t[:])

(2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

# changing tuple

In [29]:
t = (1,2,3,4,(5,6),[7,9])

t[2] = 2   # we will get type error
print(t)

TypeError: 'tuple' object does not support item assignment

In [30]:
t[5][1] = 8
print(t)

(1, 2, 3, 4, (5, 6), [7, 8])

In [32]:
# concatinating tuples
t = (1,2,3)
t2 = (4,5,6)
print(t+t2)

(1, 2, 3, 4, 5, 6)

In [36]:
t = ('mani',)*4
print(t)

('mani', 'mani', 'mani', 'mani')

# tuple deletion

we cannot delete elements of a tuple

In [38]:
# delete entire tuple using del keyword
# deletes entire tuple
del t
#print(t)

NameError: name 't' is not defined

In [40]:
t = (1,2,5,1,3,4,1,5)
# get the frequency of particular element appears in a tupels
print(t.count(5))
print(t.count(1))

2
3

In [41]:
#'index' returns the index of the first element is equal to the given number
print(t.index(5))

2

In [43]:
#test if an element is present in tuple or not using keyword 'in'
print(6 in t)
print(4 in t)

False
True

In [45]:
# to know the lenght of the tuple use len(tuple) keyword
print(len(t))

8

In [47]:
t = (1,9,4,2,7,3,6,5,8)
new_t = sorted(t)   #takes elements from tuple and returns a new sorted List
print(new_t)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# get the max and min element in tuple
print(max(t))
print(min(t))

9
1

In [49]:
# get sum of elements of tuple
print(sum(t))

45